@font-face {
    font-family: "D-DIN";
    src: url("../font/D-DIN.otf");
}
@font-face {
    font-family: "D-DIN";
    src: url("../font/D-DIN-Bold.otf");
    font-weight: bold;
}

body {
    font-family: 'D-DIN', sans-serif;
    color: white;
    background: black;
    overflow-x: hidden;
}
a, a:hover {
    text-decoration: none;
}
.bg-black {
    background: black;
    color: white;
}
.text-grey {
    color: grey
}
.pointer {
    cursor: pointer;
}
.text {
    font-weight: 300;
    line-height: 30px;
}

/* Button Style */
.btn-outline {
    border: 2px solid white;
    border-collapse: collapse;
    background: inherit;
    color: inherit;
    font-size: smaller;
    cursor: pointer;
    text-decoration: none;
    transition: .4s;
    --num: 0;
}
.btn-outline:hover {
    color: black;
    --num: 1;
}
.on-hover {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: calc(100% + 2px);
    height: 100%;
    transform: scaleY(var(--num));
    transform-origin: bottom;
    transition: .4s;
    z-index: -1;
}