@font-face {
    font-family: "D-DIN";
    src: url("./font/D-DIN.otf");
}
@font-face {
    font-family: "D-DIN";
    src: url("./font/D-DIN-Bold.otf");
    font-weight: bold;
}

body {
    font-family: 'D-DIN', sans-serif;
    color: white;
    background: black;
    overflow-y: hidden;
}
.bg-black {
    background: black;
    color: white;
}
.text-grey {
    color: grey
}
.pointer {
    cursor: pointer;
}
.text {
    font-weight: 300;
    line-height: 30px;
}